<div class="row flex-nowrap justify-content-between align-items-center">
  <div class="col">
    <a class="text-muted" href="users">Profile</a>
  </div>
  <div class="col">
    <h1 class="blog-header-logo text-dark">todo</h1>
  </div>
  <div class="col">
    <form action="login" method="GET">
      <a href="login" class="btn btn-sm btn-outline-secondary">login</a>
    </form>
    <form action="logout" method="POST">
      <button type="submit" name="logout" class="btn btn-sm btn-outline-secondary">logout</button>
    </form>
  </div>
</div>
