<div class="row flex-nowrap justify-content-between align-items-center">
  <div class="col">
    <p class="text-muted">Bacon</p>
  </div>
  <div class="col">
    <h1 class="blog-header-logo text-dark">todo</h1>
  </div>
  <div class="col">
      <button type="button" name="logout" class="btn btn-sm btn-outline-secondary">login</button>
  </div>
</div>
