<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include ./partials/_head %>
  </head>
    <% include ./partials/_header %>
  <body>
    <form id="new-list-item" class="form-container" action="/todos" method="post">
      <input name="todo" type="text" class="form-control" placeholder="What do you want to do"></input>
      <button type="submit" class="btn btn-secondary" name="create-todo">Submit</button>
    </form>
    <div class="card-container">
      <div id="card" class="card p-3 mb-2 bg-primary text-white" style="width: 18rem;">
        <h5 class="card-title">Food <em>to eat</em></h5>
        <div class="card-body text-dark">
          <ul id="to-eat" class="list-group">
            <li class="list-group-item">
              <p>Cras justo odio</p>
              <form class="dropdown" method="POST" action="todos">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-edit"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button type="submit" class="dropdown-item" name="category">category 2</button>
                  <button type="submit" class="dropdown-item" name="category">category 3</button>
                  <button type="submit" class="dropdown-item" name="category">category 4</button>
                </div>
              </form>
            </li>
            <li class="list-group-item">Dapibus ac facasdadssdi
              <form class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button type="submit" class="dropdown-item" href="#">category 2</button>
                  <button type="submit" class="dropdown-item" href="#">category 3</button>
                  <button type="submit" class="dropdown-item" href="#">category 4</button>
                </div>
              </form>
              
            </li>
            <li class="list-group-item">Morbi leo risusi
              <form class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button type="submit" class="dropdown-item" href="#">category 2</button>
                  <button type="submit" class="dropdown-item" href="#">category 3</button>
                  <button type="submit" class="dropdown-item" href="#">category 4</button>
                </div>
              </form>
            </li>
            <li class="list-group-item">Porta ac consectetur aasas
              <form class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button type="submit" class="dropdown-item" href="#">category 2</button>
                  <button type="submit" class="dropdown-item" href="#">category 3</button>
                  <button type="submit" class="dropdown-item" href="#">category 4</button>
                </div>
              </form>
            </li>
            <li class="list-group-item">Vestibulum at eros
              <form class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Change category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button type="submit" class="dropdown-item" href="#">category 2</button>
                  <button type="submit" class="dropdown-item" href="#">category 3</button>
                  <button type="submit" class="dropdown-item" href="#">category 4</button>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div id="card" class="card p-3 mb-2 bg-success text-white"  style="width: 18rem;">
        <h5 class="card-title">Movies <em>to watch</em></h5>
        <div class="card-body text-dark">
          <ul id="to-watch" class="list-group">
            <li class="list-group-item">Cras justo odio<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Dapibus ac facasdadssdi<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Morbi leo risus<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Porta ac consectetur aasas<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Vestibulum at eros<a href="#" class="btn btn-primary">Go</a></li>
          </ul>
        </div>
      </div>
      <div id="card" class="card p-3 mb-2 bg-danger text-white"  style="width: 18rem;">
        <h5 class="card-title">Books <em>to read</em></h5>
        <div class="card-body text-dark">
          <ul id="to-read" class="list-group">
            <li class="list-group-item">Cras justo odio<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Dapibus ac facasdadssdi<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Morbi leo risus<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Porta ac consectetur aasas<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Vestibulum at eros<a href="#" class="btn btn-primary">Go</a></li>
          </ul>
        </div>
      </div>
      <div id="card" class="card p-3 mb-2 bg-warning text-dark"  style="width: 18rem;">
        <h5 class="card-title">Products <em>to buy</em></h5>
        <div class="card-body">
          <ul id="to-buy" class="list-group">
            <li class="list-group-item">Cras justo odio<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Dapibus ac facasdadssdi<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Morbi leo risus<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Porta ac consectetur aasas<a href="#" class="btn btn-primary">Go</a></li>
            <li class="list-group-item">Vestibulum at eros<a href="#" class="btn btn-primary">Go</a></li>
          </ul>
        </div>
      </div>
      <div class="card p-3 mb-2 bg-dark text-white"  style="width: 18rem;">
        <h5 class="card-title">Sorry we couldn't categorize these todos</em></h5>
        <div class="card-body text-dark">
          <ul id="uncategorized" class="list-group">
            <li class="list-group-item">Cras justo odio<a href="#" class="btn btn-success">Go</a></li>
            <li class="list-group-item">Dapibus ac facasdadssdi<a href="#" class="btn btn-success">Go</a></li>
            <li class="list-group-item">Morbi leo risus<a href="#" class="btn btn-success">Go</a></li>
            <li class="list-group-item">Porta ac consectetur aasas<a href="#" class="btn btn-success">Go</a></li>
            <li class="list-group-item">Vestibulum at eros<a href="#" class="btn btn-success">Go</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
