<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include ./partials/_head %>
  </head>
  <div class="container">
    <header class="blog-header py-3">
      <% include ./partials/_header %>
    </header>
  </div>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <textarea name="email" type="text" placeholder="email"></textarea>
      <textarea name="password" type="text" placeholder="password"></textarea>
      <button type="submit" name="login">Login</button>
    </form>
  </body>
</html>
